{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1>Users with Common Chats:</h1>
<div class="chats-chat">
    <div class="chats">
        <ul>
            {% for user in users_with_common_chats %}
                <li>
                    {% if user != request.user %}

                        <a href="{% url 'chat:room' user.username %}">
                            <div class="chat-user">
                                <img class="avatar" src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'img/def.jpg' %}{% endif %}" alt="Avatar">
                                <div class="user-info">
                                    <div class="username">{{ user.username }}</div>
                                    {% if user.has_both_permissions %}
                                        <div class="username">{{ user.first_name }} {{ user.last_name }}</div>
                                    {% endif %}
                                    {% if user.last_message %}
                                        <div class="last-message">{{ user.last_message.content|truncatechars:20 }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

<!--    div onec-->
    <div class="chat">

    </div>
</div>
{% endblock %}