/* Общие стили */
all-a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

.all-a:hover {
    text-decoration: none; /* Убираем подчеркивание при наведении */
    background-color: transparent; /* Оставляем фон без изменений */
}

/* Стили для элементов списка чатов */
.chat-user,
.chat-user.selected {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 3px;
    border-radius: 5px;
    background-color: #202930;
    text-align: left;
    transition: background-color 0.3s ease;
}

.chat-user:hover,
.chat-user.selected:hover {
    background-color: rgba(160, 160, 160, 0.4); /* Цвет фона становится полупрозрачным желтым при наведении */
}

/* Стили для аватара */
.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 0; /* Убираем отступ слева */
}

/* Стили для информации о пользователе */
.user-info {
    flex: 1;
}

/* Стили для имени пользователя */
.username {
    font-weight: bold;
    color: #fff9d8;
}

/* Стили для последнего сообщения */
.last-message {
    font-size: 14px;
    color: #d1dae0;
}

/* Обнуляем стили списка */
ul, ol {
    list-style-type: none;
    padding: 0;
}

/* Стили для алерта */
.alert-primary {
    background-color: #ffe976;
    color: #000;
}

#chat-list {
    padding: 0 10px;
}

.profile-img {
    width: 80%;
}

.user-status {
    display: flex;
    align-items: center;
}

.status-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 5px;
}

.dot-online {
    background-color: yellow;
}

.dot-offline {
    background-color: gray;
}



@media (max-width: 768px) {
  .avatar {
        width: 45px;
        height: 45px;
  }
}