.profile-avatar img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 4px solid #fff;
  border-radius: 50%;
}

.profile-name {
  font-size: 1.5rem;
  margin-top: 10px;
}

.profile-age,
.profile-city {
  font-size: 1rem;
  color: #888;
}

.profile-username {
  font-size: 2rem;
  margin-bottom: 20px;
}

.chat {
  position: relative;
  min-height: 100vh; /* Это позволяет контейнеру занимать 100% высоты экрана */
  overflow: hidden;
  background-size: cover;
}

#container-profile-css {
    background-color: #202930;
    background-image: linear-gradient(rgba(32, 41, 48, 0.5), rgba(255, 227, 79, 0.5));
}