.message-input-container {

  max-width: 600px;
  padding: 20px;
  border-radius: 5px;
}

/* Стили для заголовка */
.message-input-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Стили для списка сообщений */
#messagesList {
  list-style: none;
  padding: 0;
}

/* Стили для каждого сообщения */
.message-content {
      letter-spacing: 2px;
    font-size: 18px;
    color: #d1dae0;
  padding: 10px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: background-color 0.4s, transform 0.4s; /* Добавляем анимацию */
}
.message-content p {
    font-family: 'Pangolin', cursive;
}

.message-content:hover {
  background-color: rgba(160, 160, 160, 0.4);
  transform: scale(1.05); /* Увеличиваем блок на 5% */
}


.buttons-container {
    display: flex;
    justify-content: space-between;
}

.button-to-go-room {
  font-weight: bold;
  height: 45px;
  background-color: #ffe976;
  color: #202930;
  border: 2px solid #202930;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 1.5%;
}

.button-to-go-room:hover {
  border: 2px solid #202930;
  transform: scale(1.1);
  background-color: #ffd700;
}