.chat-box {
    background-color: black;
}


.name-holder {
    padding: 1%;
    background-color: #202930;
    color: white;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
}

.name-holder p {
    margin-top: 0;
    margin-bottom: 0;
}


.chat-box-container {
    max-height: 86vh; /* 50% от высоты экрана */
    padding: 2%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    width: 100%; /* Установите нужную ширину, например, 80% или другое значение */
    margin-right: auto;
    margin-left: auto;
    font-family: 'Pangolin', cursive;
    font-size: 16px;
}

.message-container-in-chat {
    display: flex; /* Добавляем flex-контейнер */
    align-items: end; /* Выравнивание элементов по вертикали */
    margin: 1% 20% 0 0;
}

.avatar-other {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-right: 1px;


}

.avatar-self {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-right: 1px;

}

.imgs {
    height: 100%;

}

.message {
    border-radius: 5px;
    width: fit-content;
    word-break: break-all;
    margin: 0 3px;
    padding: 1% 1%;

}

.message-in-web-sox {
    white-space: pre-line;
    border-radius: 5px;
    width: fit-content;
    word-break: break-all;
    margin: 0 3px;
    padding: 1% 1%;
}

.self {
    color: #202930;
    background-color: rgba(255, 233, 118, 0.8);
    align-self: flex-end;
}

.other {
    color: #202930;
    background-color: rgba(213, 232, 248, 0.8);
    align-self: flex-start;
}



/* Добавьте стили для полосы прокрутки */
.chat-box-container::-webkit-scrollbar {
    width: 10px; /* Ширина полосы прокрутки */
}

.chat-box-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет полосы прокрутки */
    border-radius: 5px; /* Скругление углов полосы прокрутки */
}

.chat-box-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Цвет полосы прокрутки при наведении */
}

.chat-box-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Цвет фона дорожки полосы прокрутки */
    border-radius: 5px; /* Скругление углов дорожки полосы прокрутки */
}


.chat {
    position: relative;
    height: 100vh;
    overflow: auto;
    /* Другие стили для блока .chat */
}

.chat-input {
    position: fixed;
    bottom: 0px; /* Отступ снизу */
    width: 75%;
    max-width: calc(100% - 20px); /* Учитываем отступы справа и слева */
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #202930;
    z-index: 1;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.chat-message-input {
    background-color: #202930;
    color: #d1dae0;
    flex: 1;
    border: none;
    padding: 0 2%;
    outline: none;
    font-size: 18px;
    margin-right: 10px;
    resize: none; /* Убедитесь, что textarea не может изменять размер */
    overflow: hidden;
}


#send-button {
    background-color: #202930;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.delete-chat-button {
    width: 50px;
    position: absolute;
    top: 50%;
    right: 2%; /* Отступ справа */
    transform: translateY(-50%); /* Выравнивание по вертикали */
    background: none;
    border: none;
    padding: 0;
}

.chose-fon-button {
    width: 50px;
    position: absolute;
    top: 50%;
    right: 18%; /* Отступ справа */
    transform: translateY(-50%); /* Выравнивание по вертикали */
    background: none;
    border: none;
    padding: 0;
}

.toggle-permission-button {
    width: 50px;
    position: absolute;
    top: 50%;
    right: 10%; /* Отступ справа */
    transform: translateY(-50%); /* Выравнивание по вертикали */
    background: none;
    border: none;
    padding: 0;
}
}


#send-button:hover {
      background-color: #ffd700;
        color: #202930;
}

.name-in-name-holder {
    font-size: 18px;
    font-weight: bold;
    font-family: 'REM', sans-serif;
}


    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Стили для контейнера всплывающего окна */
    .modal-content {
        background-color: #202930;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        width: 30%; /* Ширина окна */
        align-items: center; /* Выравнивание по горизонтали */
        justify-content: center; /* Выравнивание по вертикали */
        border-radius: 10px;
    }

    .modal p {
        color: #ffe976;
        margin: 0;
        padding-bottom: 10px;
    }

    /* Стили для кнопок */
.delete-button {
    width: 40%;
    background-color: #ffe976;
    color: #202930;
    border: 3px solid #353535
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s; /* добавляем плавный переход для background-color */
    border-radius: 20px;
}

.delete-button:hover {
    background-color: #ffd700; /* изменение цвета при наведении */

}

.cancel-button {
    width: 40%;
    background-color: #ffe976;
    color: #202930;
    border: 3px solid #353535;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s; /* добавляем плавный переход для background-color */
    border-radius: 20px;
}

.cancel-button:hover {
    background-color: #ffd700; /* изменение цвета при наведении */
}


.custom-file-upload {
    background-color: #ffe976;
    color: #202930;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.custom-file-upload:hover {
    background-color: #ffd700;
}

#upload-background-button {
    background-color: #ffd700;
    color: #202930;
    border: none;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

#upload-background-button:hover {
    background-color: #c4a500;
}

.close-button {
    color: #ffd700;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.delete-message-button {
    background: none;
    border: none;
    padding-left: 0;
    position: relative;
}

.delete-icon {
    width: 16px;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
        left: 100%;
    opacity: 0; /* Изначально невидимая иконка */
}

.message-container-in-chat:hover .delete-icon {
    opacity: 1; /* Показываем иконку при наведении на блок */
}


    /* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
        .modal-content {
            width: 90%; /* Уменьшаем ширину на маленьких экранах */
        }
}


@media (max-width: 769px) {
  .chat-input {
    position: fixed;
    bottom: 0; /* Отступ снизу */
    right: 10px; /* Отступ справа */
    width: 105%;
    max-width: calc(100% - 10px); /* Учитываем отступы справа и слева */
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #202930;
    z-index: 1;
    }

    .delete-chat-button{
        width: 50px;
    }
}


