
{% load static %}

<!-- Подключаем стили -->
<link rel="stylesheet" type="text/css" href="{% static 'css/random_messages_list.css' %}">

<!-- HTML разметка для сообщений -->
<div class="message-input-container">
    <ul id="messagesList">
        <!-- Список сообщений будет заполняться JavaScript -->
    </ul>
</div>

<script>
function truncateText(text, maxLength) {
    if (text.length > maxLength) {
        return text.slice(0, maxLength) + '...';
    }
    return text;
}

fetch('/random/list/')
.then(response => response.json())
.then(data => {
    // Обрабатываем полученные данные и отображаем сообщения
    const messagesList = document.getElementById('messagesList');
    data.received_messages.forEach(message => {
        const listItem = document.createElement('li');
        const messageContent = document.createElement('div');
        messageContent.className = 'message-content';

        const messageText = document.createElement('p');
        messageText.textContent = truncateText(message.content, 100); // Ограничиваем до 30 слов
        messageContent.appendChild(messageText);

        const buttonsContainer = document.createElement('div');
        buttonsContainer.className = 'buttons-container'; // Создаем обертку для кнопок

        const expandButton = document.createElement('button');
        expandButton.textContent = 'Повний текст';
        expandButton.className = 'button-to-go-room';

        expandButton.addEventListener('click', () => {
            if (expandButton.textContent === 'Повний текст') {
                messageText.textContent = message.content; // Полный текст
                expandButton.textContent = 'Звернути';
            } else {
                messageText.textContent = truncateText(message.content, 100); // Ограниченный текст
                expandButton.textContent = 'Повний текст';
            }
        });

        const deleteButton = document.createElement('button');
        deleteButton.textContent = 'Удалити';
        deleteButton.className = 'button-to-go-room';
        console.log(message.id)
        deleteButton.addEventListener('click', () => {
            // Отправляем запрос на удаление сообщения
            fetch(`/random/delete_message/${message.id}/`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Удаляем блок сообщения из списка
                    listItem.remove();
                }
            })
            .catch(error => {
                console.error('Error deleting message:', error);
            });
        });

        const chatButton = document.createElement('button');
        chatButton.textContent = `Спілкуватись!`;
        chatButton.className = 'button-to-go-room';
        chatButton.addEventListener('click', () => {
            window.location.href = `/chat/room/${message.sender}/`;
        });

        // Добавляем все кнопки в контейнер
        buttonsContainer.appendChild(deleteButton);
        buttonsContainer.appendChild(chatButton);
        buttonsContainer.appendChild(expandButton);

        messageContent.appendChild(buttonsContainer); // Добавляем контейнер с кнопками в контент сообщения
        listItem.appendChild(messageContent);
        messagesList.appendChild(listItem);
    });
})
.catch(error => {
    console.error('Error fetching messages:', error);
});
</script>


