{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Главный контейнер -->
<div class="container mt-5">

    <!-- Заголовок -->
    <h1 class="display-4 text-center">Добро пожаловать в Hi folks!!</h1>

    <!-- Поле описания -->
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <p class="lead text-center">Hi folks! Наша цель - помочь вам найти друзей для интересного общения.
                Отправляйте анонимные сообщения 50 случайным людям, и если заинтересуются, начнется увлекательный
                диалог.</p>
        </div>
    </div>

    <!-- Кнопка регистрации -->
    <div class="row mt-4">
        <div class="col-md-4 offset-md-4 text-center">
            <a href="{% url 'users:register' %}" class="btn btn-primary btn-lg">Зарегистрироваться</a>
        </div>
    </div>

</div>
<br>
<h1>User List</h1>
<ul>
    {% for chat in chats %}
    <li>
        {% if chat.user1 == current_user %}
            {{ chat.user2.username }}
            <a href="{% url 'chat:give_permission' chat.id %}">Give Permission</a>
            {% if chat.has_both_permissions %}
                - {{ chat.user2.email }}
                <a href="{% url 'chat:room' chat.user2.username %}">Go to Chat</a>
            {% endif %}
        {% else %}
            {{ chat.user1.username }}
            <a href="{% url 'chat:give_permission' chat.id %}">Give Permission</a>
            {% if chat.has_both_permissions %}
                - {{ chat.user1.email }}
                <a href="{% url 'chat:room' chat.user1.username %}">Go to Chat</a>
            {% endif %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
<ul>
    {% for user in users %}
    <li>
        {{ user.username }} - {{ user.email }}
        {% if user != request.user %}
        <a href="{% url 'chat:room' user.username %}">Go to Chat</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<form method="post" action="{% url 'random:random' %}">
    {% csrf_token %}
    <textarea name="content" placeholder="Type your message here"></textarea>
    <button type="submit">Send Message</button>
</form>

<script>
    const csrfToken = '{{ csrf_token }}';

    // Функция для обновления списка пользователей
    function updateUsersList() {
        fetch('/chat/chats_list/', {
            method: 'POST',  // Используем метод POST для получения данных
            headers: {
                'Content-Type': 'application/json',  // Устанавливаем заголовок Content-Type для JSON данных
                'X-CSRFToken': '{{ csrf_token }}'  // Если используется CSRF защита, передайте CSRF токен
            },
            body: JSON.stringify({})  // Пустой объект, если не требуется передача данных
        })
        .then(response => response.json())
        .then(data => {
            // Обработка успешного ответа от сервера

            // Очищаем текущий список пользователей
            $("#chat-list").empty();

            // Добавляем новые данные в список
            data.users_with_common_chats.forEach(function(user) {
                var listItem = '<li>' +
                    '<a href="/chat/room/' + user.username + '">' +
                    '<div class="chat-user">' +
                    '<img class="avatar" src="' + (user.avatar_url ? user.avatar_url : '/static/img/def.jpg') + '" alt="Avatar">' +
                    '<div class="user-info">' +
                    '<div class="username">' + user.username + '</div>';

                if (user.has_both_permissions) {
                    listItem += '<div class="username">' + user.first_name + ' ' + user.last_name + '</div>';
                }

                if (user.last_message) {
                    listItem += '<div class="last-message">' + user.last_message + '</div>';
                }

                listItem += '</div>' +
                    '</div>' +
                    '</a>' +
                    '</li>';

                $("#chat-list").append(listItem);
            });
        })
        .catch(error => {
            // Обработка ошибки
            console.error("Error:", error);
        });
    }

    // Вызываем функцию для обновления списка пользователей при загрузке страницы
    updateUsersList();

    // Выполняем обновление списка пользователей через определенный интервал времени (например, каждые 10 секунд)
    setInterval(updateUsersList, 10000);
</script>


{% endblock %}