{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'front:front' %}">
                <img src="{% static 'img/hey_folks.png' %}" alt="Logo" style="width: 15%;">
            </a>
        {% else %}
            <a class="navbar-brand" href="{% url 'front:hello' %}">
                <img src="{% static 'img/hey_folks.png' %}" alt="Logo" style="width: 15%;">
            </a>
        {% endif %}

        <div class="collapse navbar-collapse justify-content-center" id="navbarContent"> <!-- Уникальный id для содержимого меню -->
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                {% if user.is_authenticated %}
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{% url 'random:form' %}" style="font-size: 18px;">
                            <img src="{% static 'img/messages_to_world.svg' %}" title="Написати світові" alt="Logo" class="mr-2 navbar-icon-my">
                        </a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{% url 'users:profile' request.user.id %}">
                            <img class="my-icon-navbar mr-2" src="{% static 'img/profile.svg' %}" title="Мій профіль" alt="Profile" >
                        </a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{% url 'random:create-random-post' %}">
                            <img class="my-icon-navbar mr-2" src="{% static 'img/post_create.svg' %}" title="Створити пост" alt="post" >
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown mx-3">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'img/login.png' %}" alt="Logo">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        {% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'users:register' %}">Register</a>
                        <a class="dropdown-item" href="{% url 'users:login' %}">Login</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>

        <button class="navbar-toggler navbar-toggler-icon-custom nav-butt" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>